.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display:flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display: flex;

}

.tweetBox__header {
    padding-left: 50px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 10px;
    color: var(--twitter-color);
    margin-right: 300px;

}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}


.tweetBox__tweetButton {
    border: none;
    padding: 10px;

}

.tweetBox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 0px !important;
    margin-left: auto !important;
}